<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
    </div>
    <div class="modal-body">
        <pre>{{vm.alert}}</pre>
        <form name="alertForm" ng-submit="vm.logAlert()" novalidate>

            <input type="text" placeholder="Enter alert message" name="message" ng-model="vm.alert.message" required>

            <div class="help-block" ng-messages="alertForm.message.$error" ng-show="alertForm.message.$touched">
                <div ng-messages-include="/views/messages/messages.html"></div>
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="alertForm.$invalid">Add Alert!</button>
        </form>
    </div>
</div>